{% extends "footblog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <!-- Main content column -->
        <div class="col-md-8">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Login</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group text-end">   <!-- Button moved to the right -->
                        <button class="btn btn-outline-info" type="submit">Login</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Don't Have An Account? 
                        <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                    </small>
                </div>
            </div>
        </div>

        <!-- Sidebar column -->
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}