{% extends "footblog/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <!-- Main content column -->
        <div class="col-md-8">
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Join Today</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href=#>Sign In</a>
                    </small>
                </div>
            </div>
        </div>

        <!-- Sidebar column (matches the image) -->
        <div class="col-md-4">
            <div class="content-section">
                <h3>Our Sidebar</h3>
                <p class='text-muted'>You can put any information here you'd like.</p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Posts</li>
                    <li class="list-group-item list-group-item-light">Announcements</li>
                    <li class="list-group-item list-group-item-light">Calendars</li>
                    <li class="list-group-item list-group-item-light">etc</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock content %}

<!-- crsf token is used to prevent CSRF attacks
  in simple terms prevents malicious requests -->